# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.log

# Environment / secrets
.env
.env.*
.env*

# Frontend tooling
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
*.code-workspace
*.tmp
*.swp
.vscode/
.idea/
